.advantage {
  margin: 43px 0;
  padding: 22px 0;
}

.advantage__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 6px;
}

.advantage__number,
.advantage__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

advantage__description {
 display: block;
  
}

.advantage .advantage__title,
.advantage .advantage__number, 
.advantage .advantage__description {
  color: white;
}

.advantage--real, 
.advantage--devils-bridge {
  background-color: #81b3d2;
}

.advantage__image {
  display: block;
  margin: 39px auto;
}