.lead {
  background: url(../../img/text-sedona-index.svg), url(../../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 281px 214px, auto auto;
  display: flex;
  padding: 198px;
  margin: 0 auto;
}