.page-header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.page-header--inner {
  background: white, url("../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: auto, auto;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 96px;
    width: 188px;
  }
}
