.page-intro {
  background-color: white;
}

.page-intro__title {
  color: black;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 35px 0 27px;
  padding: 0;
  text-align: center;
}

.page-intro__headline {
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 42px;
  text-align: center;
}

.page-intro__headline--photo {
  line-height: 24px;
}

.page-intro__headline--form {
  line-height: 24px;
}
